<div *ngIf="player">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3 class="headline">Player Info</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>
        <strong>First Name:</strong> {{player.firstName}}
      </p>
      <p>
        <strong>Last Name:</strong> {{player.lastName}}
      </p>
    <p>
      <strong>Nickname:</strong> {{player.nickname}}
    </p>
    <p>
      <strong>Email: </strong> {{player.email}}
    </p>
    </mat-card-content>
  </mat-card>
</div>

